* {
  box-sizing: border-box;
}

body {
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
  font-size: 14px;
    line-height: 1.42857143;
    color: #424242;
    color: var(--dark-grey);
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    background: var(--smoky-color);
    overflow-x: hidden;
    font-weight: 400;
    text-align: left;
}

.register-container2,
.login-container2 {
  text-align: center;
}

.store-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.store {
  position: relative;
  margin: 1rem;
  width: 50px;
  min-width: 300px;
  cursor: pointer; 
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  background-color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.store:hover {
  background-color: rgb(236, 238, 241);
  border: 5px solid, wheat;
}

.store img {
  max-width: 100%;
}

.store-info {
  display: flex;
  padding: 10px;
  align-items: center;
}

.navheader {
  margin-top: 10px;
  color: black !important;
  background-color: #b3beca !important;
}

.PageHeading {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black !important;
}

.navbar2-nav {
  display: flex;
}

.nav-item {
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
}

.store-category {
  background-color: rgb(241, 213, 213);
} */
/****************************************/
 .modal {
  font-size: 12px;
  background-color:rgb(248, 248, 248);
  width: 100%;
  margin: auto;
  border: 1px solid #999;

}

.modaladd{
  font-size: 12px;
  background-color:rgb(250, 236, 236);
  width: 1000px;
  height: 400px;
  margin: auto;
  border: 1px solid #999;
text-align: center;
}
.modal  .header2 {
  width: 100%;
  border-bottom: 1px solid rgb(212, 149, 149);
  font-size: 18px;
  text-align: left;
  padding: 5px;
}
.modal .content2 {
  width: 100%;
  padding: 10px 5px;
}


.popupr {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width:100%;
  position: relative;
 margin-top: 0;
 margin-bottom: 100px;

}
.popupr .header2{
  margin-bottom: 100px;
  font-size: 40px;
}
.popupr .header2 img{
  display: block;
  background-color: rgb(60, 12, 172);
}
.modal-body .close2 ,.modaladd .close2{
 
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: -830px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(245, 239, 239);
}
.popupr .close2:hover {
  color: #06D85F;
}

.pPic{ max-width: 360px;height:250px;  border: 8px solid rgba(21, 7, 61, 0.452);
  border-radius: 300px; }
  .mPic{ max-width: 250px;height:250px;  border:8px solid rgba(21, 7, 61, 0.452);
    border-radius: 9999px; justify-content: center; }
  .popup {  
      position: fixed;  
      width: 100%;  
      height: 100%;  
      top: 0;  
      left: 0;  
      right: 0;  
      bottom: 0;  
      margin: auto;  
      background-color: rgba(0,0,0, 0.5);  
    }  
    .popup\_inner {  
      position: absolute;  
      left: 25%;  
      right: 25%;  
      top: 25%;  
      bottom: 25%;  
      margin: auto;  
      border-radius: 20px;  
      background: white;  
    }

.img-popup2{
  width: 300px;

}

.popupr .header2 .info-popup2 {
 margin-left: 10px;
  float: right;
  
}
.order{
  border:2px solid red;
  margin:5px
  
}
.order p{
  display: inline;
  margin-left:30px ;
  
}
.order img{
  width: 50px;
}
.order button{
  margin-left:50px
}

 nav ul{
  margin: 0;
  padding: 0;
list-style-type: none;
}

nav li a{
  display: inline-block;
text-decoration: none;
color:wheat;
padding-left:10px ;
text-align: center;
line-height: 2;

}
nav li a:hover ,#select a:hover{
  background-color: rgb(126, 35, 211);
color: white;
}


#select{
  background-color: white;
  position: absolute;
  z-index: 1;  
  display: none;
  width: 150px;
}
#select a{

display: block;
color: black;
margin: 12px;

}
#dropdown:hover #select{
  display: block;
}
.search-container2 {
  display: flex;
  padding: 10px;
  justify-content: center;
  
}
.search {
  background-color: transparent;
  border: 2px solid #22254b;
  color: #000;
  border-radius: 50px;
  font-family: inherit;
  font-size: 15px;
  padding: 10px 30px;
 width: 60%;
}




.menu-bar{
  background-color: rgb(15, 189, 73);
  text-align:right;
  position: static;
  top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: all .5s;
}

.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: white;
}

.menu-bar ul li{
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.menu-bar ul li a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}

.active, .menu-bar ul li a:hover{
background-color: #2bab0d;
border-radius: 3px;
}



.input-popup{
  border-radius: 4px;
    border: 1px solid rgb(184, 11, 140);
     padding: 1px 30px;
    text-align: center;
    font-size: 20px; 
    font-weight: 600;
    width: 50%;
       cursor: pointer;
}

.button-popup{
  display: inline-block;
    max-width: 280px;
    width: 70%;
    height: 40px; 
    border-radius: 4px;
    background-color:rgba(211, 60, 153, 0.822);
color:white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    transition: all .3s; 
    margin-top: 10px;

}

.button-popup2{
  display: inline-block;
    max-width: 280px;
    width: 20%;
    height: 33px; 
    border-radius: 4px;
    background-color:rgb(228, 30, 211);
color:white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    transition: all .3s; 


}

.modal-body .close2 {
 
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: -830px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(245, 239, 239);
}